.container {
    max-width: 500px;
    margin: 0 auto;
}

.byline, span {
    color: gray;
    text-transform: uppercase;
}

span {
    color: blue;
}
.headline {
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.subhead {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.4em;
}
figure {
    width: 50%;
    margin: 0 auto
}
.top-photo {
    max-width: 100%;
    margin: 0 auto;
}